<section class="advantages">
  <div class="cantainer">
    <div id="advantages-slider" class="advantages__slider">
      <div class="advantages__slide">
        <div class="advantages__card-wrap">
          <div class="advantages__img-wrap">
            <svg class="advantages__img">
              <use xlink:href="#crystal" />
            </svg>
          </div>

          <div class="advantages__text">
            Quick Shipping worldwide
          </div>
        </div>
      </div>

      <div class="advantages__slide">
        <div class="advantages__card-wrap">
          <div class="advantages__img-wrap">
            <svg class="advantages__img">
              <use xlink:href="#purse" />
            </svg>
          </div>

          <div class="advantages__text">
            30-Days Money Back Guarantee
          </div>
        </div>
      </div>

      <div class="advantages__slide">
        <div class="advantages__card-wrap">
          <div class="advantages__img-wrap">
            <svg class="advantages__img">
              <use xlink:href="#plane" />
            </svg>
          </div>

          <div class="advantages__text">
            Highest Quality Products
          </div>
        </div>
      </div>

      <div class="advantages__slide">
        <div class="advantages__card-wrap">
          <div class="advantages__img-wrap">
            <svg class="advantages__img">
              <use xlink:href="#service" />
            </svg>
          </div>

          <div class="advantages__text">
            Best Customer Service
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
