<section class="favourites">
  <div class="container p-0">
    <h3 class="favourites__title">
      Our Favourites
    </h3>

    <div class="favourites__wrap">
      <div class="favourites__product">
        <div class="favourites__img-wrap">
          <img class="favourites__img" src="img/product-2.png" alt="..." />
        </div>

        <h4 class="favourites__product-title">Eumora Value Pack</h4>
        <div class="favourites__product-sort">4 x 25g Bar</div>

        <div class="favourites__price">
            <div class="favourites__price-actual">€65.00</div>
            <div class="favourites__price-sale">€137.00</div>
        </div>

        <a class="favourites__btn btn-white" href="#">Shop now</a>
      </div>

      <div class="favourites__product">
        <div class="favourites__img-wrap">
          <img class="favourites__img" src="img/product-3.png" alt="..." />
        </div>

        <h4 class="favourites__product-title">Eumora Value Pack</h4>
        <div class="favourites__product-sort">4 x 25g Bar</div>

        <div class="favourites__price">
            <div class="favourites__price-actual">€65.00</div>
            <div class="favourites__price-sale">€137.00</div>
        </div>

        <a class="favourites__btn btn-white" href="#">Shop now</a>
      </div>

      <div class="favourites__product">
        <div class="favourites__img-wrap">
          <img class="favourites__img" src="img/product-4.png" alt="..." />
        </div>

        <h4 class="favourites__product-title">Eumora Value Pack</h4>
        <div class="favourites__product-sort">4 x 25g Bar</div>

        <div class="favourites__price">
            <div class="favourites__price-actual">€65.00</div>
            <div class="favourites__price-sale">€137.00</div>
        </div>

        <a class="favourites__btn btn-white" href="#">Shop now</a>
      </div>

    </div>
  </div>
</section>
