<section class="favourites favourites--like">
  <div class="container p-0">
    <h3 class="favourites__title">
      You May Also Like
    </h3>

    <div class="favourites__wrap">
      <div class="favourites__product favourites__product--like sale">
        <div class="favourites__img-wrap">
          <img class="favourites__img lazyload" src="#" data-src="img/like-1.png" alt="..." />
        </div>

        <h4 class="favourites__product-title">Eumora Value Pack</h4>
        <div class="favourites__product-sort">4 x 25g Bar</div>

        <div class="favourites__price">
            <div class="favourites__price-actual">€65.00</div>
            <div class="favourites__price-sale">€137.00</div>
        </div>

        <a class="favourites__btn btn btn--white" href="#">Shop now</a>
      </div>

      <div class="favourites__product favourites__product--like sale">
        <div class="favourites__img-wrap">
          <img class="favourites__img lazyload" src="#" data-src="img/like-2.png" alt="..." />
        </div>

        <h4 class="favourites__product-title">Eumora Value Pack</h4>
        <div class="favourites__product-sort">4 x 25g Bar</div>

        <div class="favourites__price">
            <div class="favourites__price-actual">€65.00</div>
            <div class="favourites__price-sale">€137.00</div>
        </div>

        <a class="favourites__btn btn btn--white" href="#">Shop now</a>
      </div>

      <div class="favourites__product favourites__product--like">
        <div class="favourites__img-wrap">
          <img class="favourites__img lazyload" src="#" data-src="img/like-3.png" alt="..." />
        </div>

        <h4 class="favourites__product-title">Eumora Value Pack</h4>
        <div class="favourites__product-sort">4 x 25g Bar</div>

        <div class="favourites__price">
            <div class="favourites__price-actual">€65.00</div>
            <div class="favourites__price-sale">€137.00</div>
        </div>

        <a class="favourites__btn btn btn--white" href="#">Shop now</a>
      </div>

    </div>
  </div>
</section>
