<footer class="footer">
    <div class="container p-0">
        <div class="footer__wrap">

            <div class="footer__subscription">
                <h3 class="footer__title mb-16">NEWSLETTER</h3>
                <div class="footer__text">Yes, I want to stay up-to-date with the latest HiSmile news.</div>

                <form action="#" class="footer__form" method="POST">
                    <input id="subscription__email" class="footer__email" type="email" name="subscription__email"
                        placeholder="Enter Your e-mail">
                    <button class="footer__btn btn btn--white" type="submit">subscribe</button>
                </form>
            </div>

            <div class="footer__map">
                <div class="footer__map-section">
                    <h3 class="footer__title text-left">Get to know us</h3>

                    <ul class="footer__lists list-unstyled">
                        <li class="footer__list">
                            <a href="#" class="footer__link">Home</a>
                        </li>
                        <li class="footer__list">
                            <a href="#" class="footer__link">About Us</a>
                        </li>
                        <li class="footer__list">
                            <a href="#" class="footer__link">Results</a>
                        </li>
                        <li class="footer__list">
                            <a href="#" class="footer__link">Press</a>
                        </li>
                        <li class="footer__list">
                            <a href="#" class="footer__link">Shop</a>
                        </li>
                        <li class="footer__list">
                            <a href="#" class="footer__link">Affiliate</a>
                        </li>
                        <li class="footer__list">
                            <a href="#" class="footer__link">Wholesale</a>
                        </li>
                        <li class="footer__list">
                            <a href="#" class="footer__link">Blog</a>
                        </li>
                        <li class="footer__list">
                            <a href="#" class="footer__link">Contacts</a>
                        </li>
                    </ul>
                </div>

                <div class="footer__map-section">
                    <h3 class="footer__title text-left">LET US HELP YOU</h3>

                    <ul class="footer__lists list-unstyled">
                        <li class="footer__list">
                            <a href="#" class="footer__link">Search</a>
                        </li>
                        <li class="footer__list">
                            <a href="#" class="footer__link">Help</a>
                        </li>
                        <li class="footer__list">
                            <a href="#" class="footer__link">Shipping Policy</a>
                        </li>
                        <li class="footer__list">
                            <a href="#" class="footer__link">Return Policy</a>
                        </li>
                        <li class="footer__list">
                            <a href="#" class="footer__link">Privacy Policy</a>
                        </li>
                        <li class="footer__list">
                            <a href="#" class="footer__link">Terms of Service</a>
                        </li>
                        <li class="footer__list">
                            <a href="#" class="footer__link">FAQs</a>
                        </li>
                        <li class="footer__list">
                            <a href="#" class="footer__link">Site Map</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="footer__social">
                <h3 class="footer__title">social</h3>

                <ul class="footer__img-lists list-unstyled">
                    <li class="footer__img-list">
                        <a href="#" class="footer__img-link">
                            <svg class="footer__svg">
                                <use xlink:href="#facebook" />
                            </svg>
                        </a>
                    </li>
                    <li class="footer__img-list">
                        <a href="#" class="footer__img-link">
                            <svg class="footer__svg">
                                <use xlink:href="#twitter" />
                            </svg>
                        </a>
                    </li>
                    <li class="footer__img-list">
                        <a href="#" class="footer__img-link">
                            <svg class="footer__svg">
                                <use xlink:href="#instagram" />
                            </svg>
                        </a>
                    </li>
                    <li class="footer__img-list">
                        <a href="#" class="footer__img-link">
                            <svg class="footer__svg">
                                <use xlink:href="#youtube" />
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="footer__payment">
                <ul class="footer__img-lists footer__img-lists--paymant list-unstyled">
                    <li class="footer__img-list footer__img-list--paymant">
                        <a href="#" class="footer__img-link">
                            <svg class="footer__svg">
                                <use xlink:href="#visa" />
                            </svg>
                        </a>
                    </li>
                    <li class="footer__img-list footer__img-list--paymant">
                        <a href="#" class="footer__img-link">
                            <svg class="footer__svg">
                                <use xlink:href="#mastercard" />
                            </svg>
                        </a>
                    </li>
                    <li class="footer__img-list footer__img-list--paymant">
                        <a href="#" class="footer__img-link">
                            <svg class="footer__svg">
                                <use xlink:href="#americanexpress" />
                            </svg>
                        </a>
                    </li>
                    <li class="footer__img-list footer__img-list--paymant">
                        <a href="#" class="footer__img-link">
                            <svg class="footer__svg">
                                <use xlink:href="#paypal" />
                            </svg>
                        </a>
                    </li>
                    <li class="footer__img-list footer__img-list--paymant">
                        <a href="#" class="footer__img-link">
                            <svg class="footer__svg">
                                <use xlink:href="#applepay" />
                            </svg>
                        </a>
                    </li>
                </ul>

                <div class="footer__copyright">
                    © 2020 Eumora Moor Bar
                </div>
            </div>

        </div>
    </div>
</footer>