<header id="header" class="header">
  <div class="container px-16">
    <div class="row no-gutters">
      <div class="col-4 header__social">
        <ul class="header__social-lists list-unstyled">
          <li class="header__social-list">
            <a class="" href="#">
              <svg class="" width="11px" height="24px">
                <use xlink:href="#facebook" />
              </svg>
            </a>
          </li>

          <li class="header__social-list">
            <a class="" href="#">
              <svg class="" width="23px" height="20px">
                <use xlink:href="#twitter" />
              </svg>
            </a>
          </li>

          <li class="header__social-list">
            <a class="" href="#">
              <svg class="" width="21px" height="20px">
                <use xlink:href="#instagram" />
              </svg>
            </a>
          </li>
        </ul>
      </div>

      <div class="col header__toggle-wrap">
        <a href="#" class="header__toggle">
          <svg class="header__svg" width="14px" height="20px">
            <use xlink:href="#burger" />
          </svg>
        </a>
      </div>

      <a class="col-auto col-lg-4 header__logo" href="#">
        <img class="header__img" src="../img/logo.png" alt="logo" />
      </a>

      <div class="col col-lg-4 header__options">
        <div class="header__search">
          <form class="header__form" action="#">
            <input
              id="header__input-search"
              class="header__input-search"
              type="search"
              name="search"
              placeholder="Search"
            />

            <button class="header__btn-form" type="submit">
              <svg class="header__option-svg">
                <use xlink:href="#search-gold" />
              </svg>
            </button>

            <a href="#" class="header__btn-form link-search-js">
              <svg class="header__option-svg open-search">
                <use xlink:href="#search-black" />
              </svg>
            </a>
          </form>
        </div>

        <a href="#" class="basket ml-0 ml-lg-32">
          <svg class="basket__svg">
            <use xlink:href="#basket" />
          </svg>
          <div class="basket__count">
            0
          </div>
        </a>

        <div class="header__login ml-32">
          <a href="#" class="header__option-link">
            <svg class="header__option-svg">
              <use xlink:href="#login" />
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="container header__menu">
    <div class="header__menu-container">
      <div class="header__mobile-header">
        <form class="header__mobile-form" action="#">
          <input
            id="mobile-search"
            class="header__mobile-search"
            type="search"
            name="mobile-search"
            placeholder="Search"
          />
        </form>

        <div class="header__mobile-close-wrap">
          <a class="header__mobile-close" href="#"></a>
        </div>
      </div>

      <nav class="header__nav">
        <ul class="header__nav-lists list-unstyled">
          <li class="header__nav-list">
            <a class="header__nav-link" href="#">HOME</a>
          </li>
          <li class="header__nav-list dropdown">
            <a
              class="header__nav-link dropdown-toggle"
              href="#"
              role="button"
              id="dropdownMenuLink"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              Skin Concerns
            </a>

            <div
              class="header__dropdown-menu dropdown-menu"
              aria-labelledby="dropdownMenuLink"
            >
              <a class="header__dropdown-item dropdown-item" href="#">Action</a>
              <a class="header__dropdown-item dropdown-item" href="#"
                >Another action</a
              >
              <a class="header__dropdown-item dropdown-item" href="#"
                >Something else here</a
              >
            </div>
          </li>
          <li class="header__nav-list">
            <a class="header__nav-link" href="#">SHOP all</a>
          </li>
          <li class="header__nav-list">
            <a class="header__nav-link" href="#">Results</a>
          </li>
          <li class="header__nav-list">
            <a class="header__nav-link" href="#">About us</a>
          </li>
          <li class="header__nav-list">
            <a class="header__nav-link" href="#">CONTACTS</a>
          </li>
          <li class="header__nav-list">
            <a class="header__nav-link" href="#">LOg in</a>
          </li>
          <li class="header__nav-list">
            <a class="header__nav-link" href="#">Create account</a>
          </li>
        </ul>
      </nav>

      <div class="header__mobile-social">
        <ul class="header__mobile-social-lists list-unstyled">
          <li class="header__mobile-social-list">
            <a class="" href="#">
              <svg class="" width="11px" height="24px">
                <use xlink:href="#facebook" />
              </svg>
            </a>
          </li>

          <li class="header__mobile-social-list">
            <a class="" href="#">
              <svg class="" width="23px" height="20px">
                <use xlink:href="#twitter" />
              </svg>
            </a>
          </li>

          <li class="header__mobile-social-list">
            <a class="" href="#">
              <svg class="" width="21px" height="20px">
                <use xlink:href="#instagram" />
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="header__overlay"></div>
</header>
