<section class="instagram">
    <div class="instagram__wrap">
        <h2 class="instagram__title-wrap">
            <span class="instagram__title">
                What We’re up to
                
                <svg class="instagram__svg">
                    <use xlink:href="#instagram" />
                </svg>
            </span>
        </h2>

        <ul class="instagram__lists list-unstyled">
            <li class="instagram__list">
                <a class="instagram__link" href="#">
                    <img class="instagram__img lazyload" src="#" data-src="img/inst-1.jpg" alt="...">
                </a>
            </li>
            <li class="instagram__list">
                <a class="instagram__link" href="#">
                    <img class="instagram__img lazyload" src="#" data-src="img/inst-2.jpg" alt="...">
                </a>
            </li>
            <li class="instagram__list">
                <a class="instagram__link" href="#">
                    <img class="instagram__img lazyload" src="#" data-src="img/inst-3.jpg" alt="...">
                </a>
            </li>
            <li class="instagram__list">
                <a class="instagram__link" href="#">
                    <img class="instagram__img lazyload" src="#" data-src="img/inst-4.jpg" alt="...">
                </a>
            </li>
            <li class="instagram__list">
                <a class="instagram__link" href="#">
                    <img class="instagram__img lazyload" src="#" data-src="img/inst-5.jpg" alt="...">
                </a>
            </li>
            <li class="instagram__list">
                <a class="instagram__link" href="#">
                    <img class="instagram__img lazyload" src="#" data-src="img/inst-6.jpg" alt="...">
                </a>
            </li>
            <li class="instagram__list">
                <a class="instagram__link" href="#">
                    <img class="instagram__img lazyload" src="#" data-src="img/inst-7.jpg" alt="...">
                </a>
            </li>
            <li class="instagram__list">
                <a class="instagram__link" href="#">
                    <img class="instagram__img lazyload" src="#" data-src="img/inst-8.jpg" alt="...">
                </a>
            </li>
        </ul>
    </div>
</section>