<section class="main-slider-section">
  <div class="main-slider">
    <div class="main-slider__slide">
      <div class="container p-17 p-md-16 position-relative h-100">
        <div class="main-slider__text-content">
          <h2 class="main-slider__title">
            Bigger Facial Bars, Enhanced with Shea Butter
          </h2>
          <h4 class="main-slider__subtitle">Taces Years Off In Just Days</h4>
          <a href="#" class="btn">Learn more</a>
        </div>

        <div class="main-slider__img-wrap">
          <img class="main-slider__img" src="img/product-1.png" alt="..." />
        </div>

        <div class="main-slider__additional-img-wrap">
          <img
            class="main-slider__additional-img"
            src="img/main-slider-additional.png"
            alt="..."
          />
        </div>
      </div>
    </div>

    <div class="main-slider__slide">
      <div class="container p-17 p-md-16 position-relative h-100">
        <div class="main-slider__text-content">
          <h2 class="main-slider__title">
            Bigger Facial Bars, Enhanced with Shea Butter
          </h2>
          <h4 class="main-slider__subtitle">Taces Years Off In Just Days</h4>
          <a href="#" class="btn">Learn more</a>
        </div>

        <div class="main-slider__img-wrap">
          <img class="main-slider__img" src="img/product-1.png" alt="..." />
        </div>

        <div class="main-slider__additional-img-wrap">
          <img
            class="main-slider__additional-img"
            src="img/main-slider-additional.png"
            alt="..."
          />
        </div>
      </div>
    </div>

    <div class="main-slider__slide">
      <div class="container p-17 p-md-16 position-relative h-100">
        <div class="main-slider__text-content">
          <h2 class="main-slider__title">
            Bigger Facial Bars, Enhanced with Shea Butter
          </h2>
          <h4 class="main-slider__subtitle">Taces Years Off In Just Days</h4>
          <a href="#" class="btn">Learn more</a>
        </div>

        <div class="main-slider__img-wrap">
          <img class="main-slider__img" src="img/product-1.png" alt="..." />
        </div>

        <div class="main-slider__additional-img-wrap">
          <img
            class="main-slider__additional-img"
            src="img/main-slider-additional.png"
            alt="..."
          />
        </div>
      </div>
    </div>
  </div>
</section>
