<section class="posts">
  <div class="container p-0">
    <div class="posts__wrap">
      <div class="posts__card">
        <div class="posts__img-wrap">
          <img class="posts__img" src="../img/post-1.jpg" alt="..." />
        </div>

        <div class="posts__body">
          <div class="posts__title">Skin Health is the New Skin Care</div>
          <div class="posts__text">
            Eumora helps the skin in its most fundamental way, it restores and
            improves your skin health, working inside out and not just on the
            outside.
          </div>
          <div class="posts__output">
            Skin health first, then beautiful skin
          </div>
          <a class="posts__btn btn-white" href="#">Learn more</a>
        </div>

      </div>

      <div class="posts__card posts__card--revers">
        <div class="posts__img-wrap">
          <img class="posts__img" src="../img/post-2.jpg" alt="..." />
        </div>

        <div class="posts__body">
          <div class="posts__title">Why the Eumora™ Formulation is So Effective</div>
          <div class="posts__text">
            Eumora™ is formulated with active ingredients derived from Moor and microalgae imported from various parts of Europe. It is then manufactured in GMP certified facilities in South East Asia according to a secret formulation that works for a wide range of skin types and amazingly for a broad range of climates!
          </div>

          <a class="posts__btn btn-white" href="#">Learn more</a>
        </div>

      </div>

      <div class="posts__card">
        <div class="posts__img-wrap">
          <img class="posts__img" src="../img/post-3.jpg" alt="..." />
        </div>

        <div class="posts__body">
          <div class="posts__title">How Eumora™ Moor Bar Helps Nourish Your Skin</div>
          <div class="posts__text">
            Delivers vital nutrients and penetrates into dermis of skins Firms and tightens loose skin Cell Rejuvenation - Energize dying skin cells, and improve skin condition High permeability and fast absorption Detoxification - Removes toxic substances from the body
          </div>
          <a class="posts__btn btn-white" href="#">Learn more</a>
        </div>

      </div>
    </div>
  </div>
</section>
