<section class="product">
    <div class="container p-0">
        <div class="product__card sale row no-gutters">
            <div class="product__view col-12 col-lg-6 px-16">
                <div class="product__showing-slider">
                    <div class="product__showing-slide">
                        <div class="product__showing-slide-wrap">
                            <img class="product__showing-slide-img" src="img/product-5.png" alt="...">
                        </div>
                    </div>

                    <div class="product__showing-slide">
                        <div class="product__showing-slide-wrap">
                            <img class="product__showing-slide-img" src="img/product-1.jpg" alt="...">
                        </div>
                    </div>

                    <div class="product__showing-slide">
                        <div class="product__showing-slide-wrap">
                            <img class="product__showing-slide-img" src="img/product-2.png" alt="...">
                        </div>
                    </div>
                </div>

                <div class="product__slider">
                    <div class="product__slide">
                        <div class="product__slide-wrap">
                            <img class="product__slide-img" src="img/product-5.png" alt="...">
                        </div>
                    </div>
                    <div class="product__slide">
                        <div class="product__slide-wrap">
                            <img class="product__slide-img" src="img/product-1.jpg" alt="...">
                        </div>
                    </div>
                    <div class="product__slide">
                        <div class="product__slide-wrap">
                            <img class="product__slide-img" src="img/product-2.png" alt="...">
                        </div>
                    </div>
                </div>

                <div class="product__social product__social-d">
                    <h3 class="product__title">Share with friends</h3>


                    <ul class="product__img-lists list-unstyled">
                        <li class="product__img-list">
                            <a href="#" class="product__img-link">
                                <svg class="product__svg">
                                    <use xlink:href="#facebook" />
                                </svg>
                            </a>
                        </li>
                        <li class="product__img-list">
                            <a href="#" class="product__img-link">
                                <svg class="product__svg">
                                    <use xlink:href="#twitter" />
                                </svg>
                            </a>
                        </li>
                        <li class="product__img-list">
                            <a href="#" class="product__img-link">
                                <svg class="product__svg">
                                    <use xlink:href="#instagram" />
                                </svg>
                            </a>
                        </li>
                        <li class="product__img-list">
                            <a href="#" class="product__img-link">
                                <svg class="product__svg">
                                    <use xlink:href="#share" />
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="product__description col-12 col-lg-6 px-0 px-lg-16">
                <div class="product__header">
                    <div class="product__box">
                        <div class="product__header-box">
                            <h1 class="product__header-title">Eumora Spa</h1>
                            <div class="product__header-subtitle">for Hair & Scalp</div>
                        </div>


                        <a href="#" class="product__rating">
                            <ul class="product__rating-lists list-unstyled">
                                <li class="product__rating-list gold">
                                    <svg class="">
                                        <use xlink:href="#star" />
                                    </svg>
                                </li>
                                <li class="product__rating-list gold">
                                    <svg class="">
                                        <use xlink:href="#star" />
                                    </svg>
                                </li>
                                <li class="product__rating-list gold">
                                    <svg class="">
                                        <use xlink:href="#star" />
                                    </svg>
                                </li>
                                <li class="product__rating-list gold">
                                    <svg class="">
                                        <use xlink:href="#star" />
                                    </svg>
                                </li>
                                <li class="product__rating-list">
                                    <svg class="">
                                        <use xlink:href="#star" />
                                    </svg>
                                </li>
                            </ul>
                            <div class="product__count">2</div>
                        </a>
                    </div>
                </div>

                <div class="product__pay">
                    <div class="product__price">
                        <span class="product__price-actual">€65.00</span>
                        <span class="product__price-old"> €137.00</span>
                    </div>


                    <form class="product__form" action="#">
                        <div class="quantity product__quantity">
                            <a class="quantity__minus quantity__symbol" href="#">-</a>
                            <input id="quantity__product" class="quantity__input" type="text" name="quantity__product"
                                value="1">
                            <a class="quantity__plus quantity__symbol" href="#">+</a>
                        </div>

                        <button class="product__btn-card btn">Add to cart</button>
                        <button class="product__btn-buy btn btn--white">buy now</button>
                    </form>
                </div>

                <div class="product__delivery">
                    <div class="product__delivery-img-wrap">
                        <svg class="product__delivery-img">
                            <use xlink:href="#delivery" />
                        </svg>
                    </div>

                    <div class="product__delivery-text">
                        Delivery between Monday, Jan 27 and Wednesday, Jan 29. Order within
                        <a href="#" class="product__delivery-link">8hrs and 4min</a>
                    </div>
                </div>

                <div class="product__advantages">
                    <div id="advantages-slider" class="advantages__slider">
                        <div class="advantages__slide">
                            <div class="advantages__card-wrap">
                                <div class="advantages__img-wrap">
                                    <svg class="advantages__img">
                                        <use xlink:href="#crystal" />
                                    </svg>
                                </div>

                                <div class="advantages__text">
                                    Quick Shipping worldwide
                                </div>
                            </div>
                        </div>

                        <div class="advantages__slide">
                            <div class="advantages__card-wrap">
                                <div class="advantages__img-wrap">
                                    <svg class="advantages__img">
                                        <use xlink:href="#purse" />
                                    </svg>
                                </div>

                                <div class="advantages__text">
                                    30-Days Money Back Guarantee
                                </div>
                            </div>
                        </div>

                        <div class="advantages__slide">
                            <div class="advantages__card-wrap">
                                <div class="advantages__img-wrap">
                                    <svg class="advantages__img">
                                        <use xlink:href="#plane" />
                                    </svg>
                                </div>

                                <div class="advantages__text">
                                    Highest Quality Products
                                </div>
                            </div>
                        </div>

                        <div class="advantages__slide">
                            <div class="advantages__card-wrap">
                                <div class="advantages__img-wrap">
                                    <svg class="advantages__img">
                                        <use xlink:href="#service" />
                                    </svg>
                                </div>

                                <div class="advantages__text">
                                    Best Customer Service
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="product__accordion accordion" id="product__accordion">
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h2 class="mb-0">
                                <button class="product__accordion-btn btn-link btn-block text-left" type="button"
                                    data-toggle="collapse" data-target="#features" aria-expanded="true"
                                    aria-controls="features">
                                    Features
                                </button>
                            </h2>
                        </div>

                        <div id="features" class="collapse show" aria-labelledby="headingOne"
                            data-parent="#product__accordion">
                            <div class="card-body">
                                <div class="product__accordion-title">
                                    Deep cleansing and moisturizing effect
                                </div>
                                <div class="product__accordion-text">
                                    Washes deep into your pores for glowing and revitalized hair. Perfect for keeping
                                    your hair in a nourished, natural state
                                </div>

                                <div class="product__accordion-title">
                                    Anti-inflammatory
                                </div>
                                <div class="product__accordion-text">
                                    Calms dry and irritated hair, restoring it to its natural vibrancy and shine
                                </div>

                                <div class="product__accordion-title">
                                    Revitalizing and conditioning
                                </div>
                                <div class="product__accordion-text">
                                    Promote hair growth and anti-hair loss. Perfect for getting your hair back to its
                                    original, shiny, voluminous state
                                </div>

                                <div class="product__accordion-title">
                                    Hypoallergenic
                                </div>
                                <div class="product__accordion-text">
                                    Well-suited for all hair types, especially beneficial for dandruff, colored hair,
                                    fine or thin hair, coarse hair
                                </div>

                                <div class="product__accordion-title">
                                    Natural aroma and extracts
                                </div>
                                <div class="product__accordion-text">
                                    Paraben-free, silicone-free, SLS-free and does not contain harsh detergents or
                                    chemicals
                                </div>

                                <div class="product__accordion-img-wrap">
                                    <img class="product__accordion-img" src="img/accordion.png" alt="...">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingTwo">
                            <h2 class="mb-0">
                                <button class="product__accordion-btn btn-link btn-block text-left collapsed"
                                    type="button" data-toggle="collapse" data-target="#description"
                                    aria-expanded="false" aria-controls="description">
                                    Description
                                </button>
                            </h2>
                        </div>
                        <div id="description" class="collapse" aria-labelledby="headingTwo"
                            data-parent="#product__accordion">
                            <div class="card-body">
                                <div class="product__accordion-title">
                                    Deep cleansing and moisturizing effect
                                </div>
                                <div class="product__accordion-text">
                                    Washes deep into your pores for glowing and revitalized hair. Perfect for keeping
                                    your hair in a nourished, natural state
                                </div>

                                <div class="product__accordion-title">
                                    Anti-inflammatory
                                </div>
                                <div class="product__accordion-text">
                                    Calms dry and irritated hair, restoring it to its natural vibrancy and shine
                                </div>

                                <div class="product__accordion-title">
                                    Revitalizing and conditioning
                                </div>
                                <div class="product__accordion-text">
                                    Promote hair growth and anti-hair loss. Perfect for getting your hair back to its
                                    original, shiny, voluminous state
                                </div>

                                <div class="product__accordion-title">
                                    Hypoallergenic
                                </div>
                                <div class="product__accordion-text">
                                    Well-suited for all hair types, especially beneficial for dandruff, colored hair,
                                    fine or thin hair, coarse hair
                                </div>

                                <div class="product__accordion-title">
                                    Natural aroma and extracts
                                </div>
                                <div class="product__accordion-text">
                                    Paraben-free, silicone-free, SLS-free and does not contain harsh detergents or
                                    chemicals
                                </div>

                                <div class="product__accordion-img-wrap">
                                    <img class="product__accordion-img" src="img/accordion.png" alt="...">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingThree">
                            <h2 class="mb-0">
                                <button class="product__accordion-btn btn-link btn-block text-left collapsed"
                                    type="button" data-toggle="collapse" data-target="#ingredients"
                                    aria-expanded="false" aria-controls="ingredients">
                                    ingredients
                                </button>
                            </h2>
                        </div>
                        <div id="ingredients" class="collapse" aria-labelledby="headingThree"
                            data-parent="#product__accordion">
                            <div class="card-body">
                                <div class="product__accordion-title">
                                    Deep cleansing and moisturizing effect
                                </div>
                                <div class="product__accordion-text">
                                    Washes deep into your pores for glowing and revitalized hair. Perfect for keeping
                                    your hair in a nourished, natural state
                                </div>

                                <div class="product__accordion-title">
                                    Anti-inflammatory
                                </div>
                                <div class="product__accordion-text">
                                    Calms dry and irritated hair, restoring it to its natural vibrancy and shine
                                </div>

                                <div class="product__accordion-title">
                                    Revitalizing and conditioning
                                </div>
                                <div class="product__accordion-text">
                                    Promote hair growth and anti-hair loss. Perfect for getting your hair back to its
                                    original, shiny, voluminous state
                                </div>

                                <div class="product__accordion-title">
                                    Hypoallergenic
                                </div>
                                <div class="product__accordion-text">
                                    Well-suited for all hair types, especially beneficial for dandruff, colored hair,
                                    fine or thin hair, coarse hair
                                </div>

                                <div class="product__accordion-title">
                                    Natural aroma and extracts
                                </div>
                                <div class="product__accordion-text">
                                    Paraben-free, silicone-free, SLS-free and does not contain harsh detergents or
                                    chemicals
                                </div>

                                <div class="product__accordion-img-wrap">
                                    <img class="product__accordion-img" src="img/accordion.png" alt="...">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingFour">
                            <h2 class="mb-0">
                                <button class="product__accordion-btn btn-link btn-block text-left collapsed"
                                    type="button" data-toggle="collapse" data-target="#application"
                                    aria-expanded="false" aria-controls="application">
                                    Application
                                </button>
                            </h2>
                        </div>
                        <div id="application" class="collapse" aria-labelledby="headingThree"
                            data-parent="#product__accordion">
                            <div class="card-body">
                                <div class="product__accordion-title">
                                    Deep cleansing and moisturizing effect
                                </div>
                                <div class="product__accordion-text">
                                    Washes deep into your pores for glowing and revitalized hair. Perfect for keeping
                                    your hair in a nourished, natural state
                                </div>

                                <div class="product__accordion-title">
                                    Anti-inflammatory
                                </div>
                                <div class="product__accordion-text">
                                    Calms dry and irritated hair, restoring it to its natural vibrancy and shine
                                </div>

                                <div class="product__accordion-title">
                                    Revitalizing and conditioning
                                </div>
                                <div class="product__accordion-text">
                                    Promote hair growth and anti-hair loss. Perfect for getting your hair back to its
                                    original, shiny, voluminous state
                                </div>

                                <div class="product__accordion-title">
                                    Hypoallergenic
                                </div>
                                <div class="product__accordion-text">
                                    Well-suited for all hair types, especially beneficial for dandruff, colored hair,
                                    fine or thin hair, coarse hair
                                </div>

                                <div class="product__accordion-title">
                                    Natural aroma and extracts
                                </div>
                                <div class="product__accordion-text">
                                    Paraben-free, silicone-free, SLS-free and does not contain harsh detergents or
                                    chemicals
                                </div>

                                <div class="product__accordion-img-wrap">
                                    <img class="product__accordion-img" src="img/accordion.png" alt="...">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="product__social product__social-m">
                    <h3 class="product__title">Share with friends</h3>


                    <ul class="product__img-lists list-unstyled">
                        <li class="product__img-list">
                            <a href="#" class="product__img-link">
                                <svg class="product__svg">
                                    <use xlink:href="#facebook"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="product__img-list">
                            <a href="#" class="product__img-link">
                                <svg class="product__svg">
                                    <use xlink:href="#twitter"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="product__img-list">
                            <a href="#" class="product__img-link">
                                <svg class="product__svg">
                                    <use xlink:href="#instagram"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="product__img-list">
                            <a href="#" class="product__img-link">
                                <svg class="product__svg">
                                    <use xlink:href="#share"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</section>