<section class="promo">
    <div class="container-xl p-0">
        <h3 class="promo__title">
            Say Yes to Healthy Glowing Skin
        </h3>

        <div class="promo__wrap">
            <div class="promo__block">
                <div class="promo__subtitle">3 minutes</div>
                <div class="promo__text">is all you need to have a Newer and Healthier Look with Eumora™ ‘Miracle’ Bar, a simple facial bar that does wonders to your skin.</div>
            </div>

            <div class="promo__devider">
                <svg class="promo__svg">
                    <use xlink:href="#devider" />
                </svg>
            </div>

            <div class="promo__block">
                <div class="promo__subtitle">Eumora™</div>
                <div class="promo__text">brings balance to your skin, and reverses most skin problems to give you a baby smooth and healthy skin again.</div>
            </div>
        </div>
    </div>
</section>