<section class="review">
    <div class="container p-0">
        <div class="review__wrap">
            <h2 class="review__title">Customers from All over the World</h2>
            <div class="review__subtitle">tell us about their experience with Eumora</div>

            <div id="review__slider" class="review__slider">

                <div class="review__card">
                    <div class="review__body">
                        <div class="review__name">Susan T</div>
                        <div class="review__date">
                            <time datetime="2020-01-07 12:00">07.01.2020</time>
                        </div>

                        <div class="review__text">My skin feels so smooth, beautiful soap</div>
                        <a class="review__btn btn btn--white" href="#">Read</a>
                    </div>

                </div>

                <div class="review__card">
                    <div class="review__body">
                        <div class="review__name">Lisa B</div>
                        <div class="review__date">
                            <time datetime="2020-01-07 12:00">07.01.2020</time>
                        </div>

                        <div class="review__text">The bar is small the results are BIG! It's the only product I use in the morning and night. My skin literally glows after using it (according to directions). I have bought many of these bars to ...</div>
                        <a class="review__btn btn btn--white" href="#">Read</a>
                    </div>

                </div>

                <div class="review__card">
                    <div class="review__body">
                        <div class="review__name">lorrayne g</div>
                        <div class="review__date">
                            <time datetime="2020-01-07 12:00">07.01.2020</time>
                        </div>

                        <div class="review__text">I love this soap my face feel so good after using it. And the best part is you dont need  night or day cream or serum i,m going to c un tenue using it thank you</div>
                        <a class="review__btn btn btn--white" href="#">Read</a>
                    </div>

                </div>

                <div class="review__card">
                    <div class="review__body">
                        <div class="review__name">Susan T</div>
                        <div class="review__date">
                            <time datetime="2020-01-07 12:00">07.01.2020</time>
                        </div>

                        <div class="review__text">My skin feels so smooth, beautiful soap</div>
                        <a class="review__btn btn btn--white" href="#">Read</a>
                    </div>

                </div>
            </div>

            <button class="review__prev review__arrow" ></button>
            <button class="review__next review__arrow" ></button>
        </div>
    </div>
</section>