<section class="review review--star">
    <div class="container p-0">
        <div class="review__wrap">
            <h2 class="review__title review__title--star">Verified Testimonials From Happy Customers</h2>

            <div class="review__slider-star">

                <div class="review__card review__card--star">
                    <div class="review__body review__body--star">
                        <div class="review__name">Susan T</div>
                        <div class="review__date">
                            <time datetime="2020-01-07 12:00">07.01.2020</time>
                        </div>

                        <div class="review__text">My skin feels so smooth, beautiful soap</div>
                        <ul class="review__rating-lists list-unstyled">
                            <li class="review__rating-list gold">
                                <svg class="">
                                    <use xlink:href="#star" />
                                </svg>
                            </li>
                            <li class="review__rating-list gold">
                                <svg class="">
                                    <use xlink:href="#star" />
                                </svg>
                            </li>
                            <li class="review__rating-list gold">
                                <svg class="">
                                    <use xlink:href="#star" />
                                </svg>
                            </li>
                            <li class="review__rating-list gold">
                                <svg class="">
                                    <use xlink:href="#star" />
                                </svg>
                            </li>
                            <li class="review__rating-list">
                                <svg class="">
                                    <use xlink:href="#star" />
                                </svg>
                            </li>
                        </ul>
                    </div>

                </div>

                <div class="review__card review__card--star">
                    <div class="review__body review__body--star">
                        <div class="review__name">Lisa B</div>
                        <div class="review__date">
                            <time datetime="2020-01-07 12:00">07.01.2020</time>
                        </div>

                        <div class="review__text">The bar is small the results are BIG! It's the only product I use in
                            the morning and night. My skin literally glows after using it (according to directions). I
                            have bought many of these bars to ...</div>
                        <ul class="review__rating-lists list-unstyled">
                            <li class="review__rating-list gold">
                                <svg class="">
                                    <use xlink:href="#star" />
                                </svg>
                            </li>
                            <li class="review__rating-list gold">
                                <svg class="">
                                    <use xlink:href="#star" />
                                </svg>
                            </li>
                            <li class="review__rating-list gold">
                                <svg class="">
                                    <use xlink:href="#star" />
                                </svg>
                            </li>
                            <li class="review__rating-list gold">
                                <svg class="">
                                    <use xlink:href="#star" />
                                </svg>
                            </li>
                            <li class="review__rating-list">
                                <svg class="">
                                    <use xlink:href="#star" />
                                </svg>
                            </li>
                        </ul>
                    </div>

                </div>

                <div class="review__card review__card--star">
                    <div class="review__body review__body--star">
                        <div class="review__name">lorrayne g</div>
                        <div class="review__date">
                            <time datetime="2020-01-07 12:00">07.01.2020</time>
                        </div>

                        <div class="review__text">I love this soap my face feel so good after using it. And the best
                            part is you dont need night or day cream or serum i,m going to c un tenue using it thank you
                        </div>
                        <ul class="review__rating-lists list-unstyled">
                            <li class="review__rating-list gold">
                                <svg class="">
                                    <use xlink:href="#star" />
                                </svg>
                            </li>
                            <li class="review__rating-list gold">
                                <svg class="">
                                    <use xlink:href="#star" />
                                </svg>
                            </li>
                            <li class="review__rating-list gold">
                                <svg class="">
                                    <use xlink:href="#star" />
                                </svg>
                            </li>
                            <li class="review__rating-list gold">
                                <svg class="">
                                    <use xlink:href="#star" />
                                </svg>
                            </li>
                            <li class="review__rating-list">
                                <svg class="">
                                    <use xlink:href="#star" />
                                </svg>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>

            <a href="#" class="btn btn--white" tabindex="-1">show more</a>

        </div>
    </div>
</section>