<section class="save">
    <div class="container p-0">
        <div class="save__wrap">
            <div class="save__body">
                <div class="save__img-wrap">
                    <img class="save__img lazyload" data-src="../img/save-product.png" alt="...">
                </div>

                <div class="save__content">
                    <h2 class="save__title">Save 30%</h2>
                    <div class="save__subtitle">with Eumora Value Pack today!</div>
                    <div class="save__action">don’t miss the moment</div>
                    <a class="save__btn btn" href="#">TRY NOW</a>
                </div>

            </div>
        </div>
    </div>
</section>