<section class="slogan">
    <div class="container-xl p-0">
        <h3 class="slogan__title">
            Choose Sustainability — Choose EUMORA
        </h3>

        <div class="slogan__wrap">
            <div class="slogan__block">
                <div class="slogan__img-wrap">
                    <svg class="">
                        <use xlink:href="#hend" />
                    </svg>
                </div>
                <div class="slogan__subtitle">3 minutes</div>
                <div class="slogan__text">is all you need to have a Newer and Healthier Look with Eumora™ ‘Miracle’ Bar,
                    a simple facial bar that does wonders to your skin.</div>
            </div>

            <div class="slogan__block">
                <div class="slogan__img-wrap">
                    <svg class="">
                        <use xlink:href="#plactic" />
                    </svg>
                </div>
                <div class="slogan__subtitle">3 minutes</div>
                <div class="slogan__text">is all you need to have a Newer and Healthier Look with Eumora™ ‘Miracle’ Bar,
                    a simple facial bar that does wonders to your skin.</div>
            </div>

            <div class="slogan__block">
                <div class="slogan__img-wrap">
                    <svg class="">
                        <use xlink:href="#animal" />
                    </svg>
                </div>
                <div class="slogan__subtitle">Eumora™</div>
                <div class="slogan__text">brings balance to your skin, and reverses most skin problems to give you a
                    baby smooth and healthy skin again.</div>
            </div>

            <div class="slogan__block">
                <div class="slogan__img-wrap">
                    <svg class="">
                        <use xlink:href="#recycle" />
                    </svg>
                </div>
                <div class="slogan__subtitle">Eumora™</div>
                <div class="slogan__text">brings balance to your skin, and reverses most skin problems to give you a
                    baby smooth and healthy skin again.</div>
            </div>
        </div>
    </div>
</section>