<section class="video">
    <div class="container p-0">
        <div class="video__wrap">
            <div class="video__devider">
                <svg class="video__svg">
                    <use xlink:href="#devider" />
                </svg>
            </div>

            <h2 class="video__title">
                Immediately Apply the Lather Completely Over Your Face
            </h2>
            <div class="video__subtitle">watch the video to find out more</div>

            <div class="video__clip">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/_zD9cAXz6zI" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
        </div>
    </div>
</section>