
  .btn {
    font-family: Arial, sans-serif;
    font-size: 1.6rem;
    line-height: 125%;
    text-transform: uppercase;
    color: $white;
    padding: 17px 58px;
    background: $gold;
    border: 1px solid $gold;
    transform: all .3s ease;
    &:hover {
      color: $gold;
      background: $white;
    }
    &:focus, &.focus {
      outline: 0;
      box-shadow: none;
  }
  }

  .baner {
    &__title {
      font-size: 1rem;
      text-align: center;
    }
  }

  .header {
    background: $white;
    padding-top: 0px;
    &__social {
      display: none;
    }
    &__search {
      display: none;
    }
    &__login {
      display: none;
    }
    &__toggle-wrap {
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }
    &__toggle {
      display: block;
      width: 14px;
      height: 20px;
    }
    &__logo {
      flex: 0 0 46.1%;
      width: 46.1%;
    }
    &__img {
      max-width: 100%;
      height: auto;
      max-width: 100%;
    }
    &__options {
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
    &__menu {
      padding: 24px 16px 0px 16px;
      position: fixed;
      top: 0px;
      bottom: 0px;
      width: 79.5%;
      z-index: 10;
      background: $white;
      transform: translateX(-100%);
      transition: all 0.5s ease;
    }
    &__menu-container {
      min-height: 100%;
      position: relative;
      padding-bottom: 73px;
    }
    &__overlay {
      background-color: transparent;
      visibility: hidden;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      height: 0;
      width: 100vw;
      height: 100vh;
      transition: all 0.5s ease;
      z-index: -1;
    }
    &__mobile-header {
      display: flex;
      justify-content: space-between;
      align-items: stretch;
      margin-bottom: 8px;
    }
    &__mobile-form {
      flex: 0 0 83.4%;
    }
    &__mobile-search {
      padding: 20px;
      font-size: 1.3rem;
      line-height: 123%;
      border: 1px solid $white-f4;
      width: 100%;
      color: $black;
    }
    &__mobile-search::placeholder {
      color: fade-out($black, 0.5);
    }
    &__mobile-close-wrap {
      flex: 1 0 15%;
      display: flex;
      align-items: flex-start;
      justify-content: flex-end;
    }
    &__mobile-close {
      display: block;
      width: 20px;
      height: 20px;
      background: url(../img/cart-close.png);
      background-position: top right;
      background-repeat: no-repeat;
    }
    &__nav {
      display: block;
      overflow: hidden;
    }
    &__nav-lists {
      padding: 10px 0;
      margin: 0;
      display: block;
    }
    &__nav-list {
      padding: 10px 0;
      margin: 0;
    }

    &__nav-link {
      padding: 2px 0;
      display: inline-block;
      text-transform: uppercase;
      font-size: 1.6rem;
      line-height: 125%;
      color: $black;
      &:hover {
        color: $gold;
        text-decoration: none;
      }
    }
    .dropdown &__nav-link {
      display: inline-flex;
      justify-content: flex-start;
      align-items: center;
      &::after {
        content: "";
        display: block;
        width: 8px;
        height: 8px;
        background: url(../img/dropdown.svg) no-repeat;
        margin-left: 1.1rem;
        transition: all 0.3s ease;
      }
    }
    .dropdown.show &__nav-link {
      &::after {
        transform: rotate(90deg);
      }
    }

    &__dropdown-menu {
      border: 1px solid $white-f4;
      border-radius: 0px;
    }
    &__dropdown-item {
      padding: 10px 10px;
      font-size: 1.3rem;
      line-height: 123%;
      color: $black;
      text-transform: uppercase;
    }
    &__mobile-social {
      border-top: 1px solid $white-f4;
      padding: 24px 0px;
      position: absolute;
      bottom: 0px;
      width: calc(100% - 16px - 16px);
      display: block;
    }
    &__mobile-social-lists {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-bottom: 0;
    }
    &__mobile-social-list {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 32px;
    }
    &__mobile-social-list:last-of-type {
      margin-right: 0px;
    }
    &__title {
      box-shadow: 0px 4px 40px #4b50511a;
      background: $white;
      padding-top: 0px;
      &.fixed {
        position: fixed;
        top: 0px;
        z-index: 50;
      }
    }
  }

  .mobile-menu-show {
    overflow: hidden;
    .header__overlay {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      height: 0;
      width: 100vw;
      height: 100vh;
      background-color: $gray-72;
      transition: background-color 0.5s ease;
      z-index: 5;
      visibility: visible;
    }
    .header__menu {
      transform: translateX(0px);
      overflow-y: scroll;
    }
  }

  .basket {
    display: block;
    width: 16px;
    height: 20px;
    position: relative;
    margin-right: 8px; // величина смещения количества товаров в корзине
    &__count {
      position: absolute;
      top: -8px;
      right: -8px;
      width: 16px;
      height: 16px;
      background: $gold;
      color: $white-f4;
      display: flex;
      justify-content: center;
      align-items: center;
      line-height: 1;
      border-radius: 50%;
      font-size: 1rem;
    }
  }

  .main-slider {
    &__slide {
      height: 544px;
      background-image: url(../img/bg-main-slider-moblie.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100% 100%;
      // padding: 17px;
      position: relative;
    }
    &__text-content {
      margin-top: 31px;
      width: 80.4%;
    }
    &__title {
      font-family: Gothic, serif;
      font-weight: 300;
      font-size: 2.4rem;
      line-height: 125%;
      color: $black;
      margin-bottom: 16px;
    }
    &__subtitle {
      font-family: Arial, sans-serif;
      font-size: 1.6rem;
      line-height: 125%;
      text-transform: uppercase;
      color: fade-out($black, 0.5);
      margin-bottom: 48px;
    }
    &__img-wrap {
      position: absolute;
      bottom: 88px;
      left: 50%;
      transform: translateX(-50%) rotate(3.27deg);
      width: 220px;
      height: 124px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &__img {
      max-width: 100%;
      max-height: 100%;
      width: 100%;
      height: auto;
    }
    &__additional-img-wrap {
      display: none;
    }
    .slick-dots {
      list-style: none;
      padding: 0;
      display: flex;
      margin: 0;
      position: absolute;
      bottom: 20px;
      left: 50%;
      transform: translateX(-50%);
      li {
        font-size: 0;
        width: 12px;
        height: 12px;
        border: 1px solid $blue-61;
        margin: 0 4px;
        border-radius: 50%;
        button {
          padding: 0;
          border: 1px solid transparent;
          font-size: 0;
          width: 100%;
          height: 100%;
          border-radius: 50%;
        }
        &.slick-active {
          button {
            border-color: $white;
            background: $blue-61;
          }
        }
      }
    }
  }
  .footer {
    min-height: 500px; //!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
  }
// }
